// App
a {
    color: inherit !important;
    text-decoration: inherit !important;
}
.text-green {
    color: #7c9473;
}
.text-red {
    color: red;
}
.text-white {
    color: white;
}
.v-tabs-slider-wrapper {
    margin-left: 100px;
}
.v-tab {
    margin-left: 100px;
}
.cursor-pointer {
    cursor: pointer;
}
.outline-black {
    outline: gray solid;
}
.v-window__prev {
    z-index: 0 !important;
}
.v-window__next {
    z-index: 0 !important;
}
.v-skeleton-loader__image, .v-skeleton-loader__article {
    z-index: 0;
}

// NavBar
.nav-bar-container {
    max-width: 100% !important;
}

// Products
.product-container {
    background-color: #e8eae6 !important;
    max-width: 1300px !important;
}
.product-subtitle {
    padding-top: 0 !important;
}
.product-container  .v-tab {
    margin-left: 0 !important;
}
.product-container  .v-item-group {
    width: 100%;
}
.product-container .v-data-table {
    background-color: #cdd0cb !important;
}
.products-card-subtitle {
    margin-top: 1px !important;
}
.products-price {
    font-size: 22px;
    color: black;
}
.products-availability {
    font-size: 17px;
}

// Products Header 
.products-header-card {
    max-width: 1300px !important;
}

// Product page
.product-page-title {
    font-size: 44px;
}
.product-page-price {
    font-size: 34px;
    color: #7c9473;
}
.product-page-indisponible {
    font-size: 25px;
    color: red;
}
.product-page-stock {
    color: black;
    font-size: 22px;
}
.spacer {
    height: 30px;
}
.add-in-cart-button:hover {
    background-color: rgba(124, 148, 115, 0.7);
}
.product-info-tr {
    line-height: 25px;
    border-bottom: 1px solid white;
}
.product-infos-name {
    height: 70px !important;
    font-weight: bold;
    vertical-align: middle;
}
.product-infos-value {
    height: 70px !important;
    vertical-align: middle;
}

// Cart
.cart-title {
    font-size: 35px !important;
    color: white !important;
}
.cart-list-item-title {
    font-size: 25px !important;
}
.cart-list-item-price {
    font-size: 22px !important;
    margin-right: 20%;
}
.cart-list-item-quantity {
    font-size: 20px !important;
}
.cart-total-price {
    font-size: 30px;
    color: black;
}
.cart-return-button {
    color: white !important;
}

// Footer
.footer {
    background-color: #7c9473 !important;
}