// App
a {
    color: inherit !important;
    text-decoration: inherit !important;
}
.text-green {
    color: #7c9473;
}
.text-red {
    color: red;
}

// Product
.product-subtitle {
    padding-top: 0 !important;
}

// Footer
.footer {
    background-color: #7c9473 !important;
}