// App
a {
    color: inherit !important;
    text-decoration: inherit !important;
}
.text-green {
    color: #7c9473;
}
.text-red {
    color: red;
}
.text-white {
    color: white;
}
.green-bg {
    background-color: #7c9473;
}
.v-slide-group__prev {
    display: none !important;
}
.v-tab-normal {
    margin-left: 100px;
}
.cursor-pointer {
    cursor: pointer;
}
.outline-black {
    outline: gray solid;
}
.v-window__prev {
    z-index: 0 !important;
}
.v-window__next {
    z-index: 0 !important;
}
.v-skeleton-loader__image, .v-skeleton-loader__article {
    z-index: 0;
}
.form {
    width: 50%;
}
.dialog-auth-title {
    font-size: 27px;
}
.dialog-auth-text {
    font-size: 18px;
}

// NavBar
.nav-bar-container {
    max-width: 100% !important;
}
.account-button {
    background-color: transparent !important;
    box-shadow: none !important;
    height: 48px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

// Products
.product-container {
    background-color: #fafafa !important;
    max-width: 1300px !important;
}
.product-card {
    margin-bottom: 150px !important;
}
.products-card {
    background-color: #e8eae6 !important;
}
.products-skeleton-loader {
    background-color: #e8eae6 !important;
}
.product-subtitle {
    padding-top: 0 !important;
}
.product-container  .v-tab {
    margin-left: 0 !important;
}
.product-container  .v-item-group {
    width: 100%;
}
.product-container .v-data-table {
    background-color: #cdd0cb !important;
}
.products-card-subtitle {
    margin-top: 1px !important;
}
.products-price {
    font-size: 22px;
    color: black;
}
.products-availability {
    font-size: 17px;
}

// Products Header 
.products-header-card {
    background-color: #fafafa !important;
    max-width: 1300px !important;
}
.products-header-card-mobile {
    background-color: #fafafa !important;
    max-width: 1300px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

// Product page
.product-page-title {
    font-size: 44px;
}
.product-page-price {
    font-size: 34px;
    color: #7c9473;
}
.product-page-indisponible {
    font-size: 25px;
    color: red;
}
.product-page-stock {
    color: black;
    font-size: 22px;
}
.spacer {
    height: 30px;
}
.add-in-cart-button:hover {
    background-color: rgba(124, 148, 115, 0.7);
}
.product-info-tr {
    line-height: 25px;
    border-bottom: 1px solid white;
}
.product-info-tr-last {
    line-height: 25px;
}
.product-infos-name {
    height: 70px !important;
    font-weight: bold;
    vertical-align: middle;
}
.product-infos-value {
    height: 70px !important;
    vertical-align: middle;
}
.v-btn--disabled {
    background-color: rgba(124, 148, 115, 0.5);
}

// Cart
.cart-title {
    font-size: 30px !important;
    color: white !important;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;
    cursor: default !important;
}
.cart-title-mobile {
    font-size: 24px !important;
    color: white !important;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;
    cursor: default !important;
}
.cart-list-item-title {
    font-size: 25px !important;
}
.cart-list-item-title-mobile {
    font-size: 18px !important;
}
.cart-list-item-price {
    font-size: 22px !important;
    margin-right: 20%;
}
.cart-list-item-price-mobile {
    font-size: 18px !important;
}
.cart-list-item-quantity {
    font-size: 20px !important;
}
.cart-list-item-quantity-mobile {
    font-size: 17px !important;
}
.cart-total-price {
    font-size: 30px;
    color: black;
}
.cart-total-price-mobile {
    font-size: 24px;
    color: black;
}
.cart-return-button {
    color: white !important;
}
.cart-return-button-mobile {
    color: white !important;
}
.cart-card-text-payment-steps {
    padding: 0px !important;
}

// TransactionCompletedDialog
.transaction-completed-dialog-text {
    font-size: 19px !important;
    font-weight: bold !important;
}

// LoginForm
.forgot-password-btn-mobile {
    font-size: 13px !important;
}

// MyAccountDialog 
.my-account-input input {
    margin-left: 10px;
}

// Command
.command-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

// CGV
.cgv-title {
    font-size: 40px !important;
}
.cgv-subtitle {
    font-size: 24px !important;
}
.cgv-article-title {
    font-size: 20px !important;
    font-weight: bold !important;
}
.cgv-article-text {
    font-size: 17px !important;
}

// Footer
.footer {
    background-color: #7c9473 !important;
    width: 100%;
}